I am Ian Seymour, a computer science student at CWU. This notebook will demonstrate the basic use of Pandas and DataFrames
in Python while using randomly generated data simulating a dataset of student records. DataFrame's statistics capabilities will also be demonstrated and the created data set will be exported to CSV.

Import random genration, Pandas and DataFrame:

In [1]:
import random

In [3]:
import pandas as pd

Assign number of rows for the dataset:

In [4]:
NUM_ROWS = 50

Create a list of possible majors:

In [5]:
AVAILABLE_MAJORS = ['Computer Science', 'Mathematics', 'Physics', 'Electrical Engineering Tech',
                'Business', 'Biology', 'English', 'Theater', 'Psychology', 'Chemistry']

Create a dictionary to hold student data:

In [6]:
student = {
    'student_id': [],
    'score': [],
    'major': [],
    'grad_year': [],
    'pass': []
}

Populate all records with randomly generated data (Note: score data is somewhat unrealistic as it's not a uniform distribution):

In [7]:
for i in range(NUM_ROWS):
    student['student_id'].append(random.randint(000000000, 999999999))
    student['score'].append(round(random.uniform(0.00, 100.00), 2))
    student['major'].append(random.choice(AVAILABLE_MAJORS))
    student['grad_year'].append(random.randint(2025, 2029))
    student['pass'].append(random.choice([True, False]))

Convert to a DataFrame:

In [8]:
df =pd.DataFrame(student)

Display data sample using head:

In [9]:
print("First five rows of data:\n")

First five rows of data:

In [10]:
print(df.head())

   student_id  score                        major  grad_year   pass
0   318520509  79.85                      Theater       2027   True
1   741936203  32.79                      Biology       2026   True
2   171714418  32.99                      Biology       2025  False
3   556894482  54.60  Electrical Engineering Tech       2028  False
4   512360227  64.01                  Mathematics       2029  False

Display data sample using tail:

In [11]:
print("\nLast five rows of data:\n")

Last five rows of data:

In [12]:
print(df.tail())

    student_id  score      major  grad_year   pass
45   312730655  68.47    English       2029   True
46   218302887  86.08    English       2025   True
47   548033415  49.20   Business       2025  False
48   625482617  86.93   Business       2029   True
49   569577192   6.37  Chemistry       2026   True

Display columns and their data types:

In [13]:
print("\nColumn Names & Data Types:\n")

Column Names & Data Types:

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  50 non-null     int64
 1   score       50 non-null     float64
 2   major       50 non-null     object
 3   grad_year   50 non-null     int64
 4   pass        50 non-null     bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 1.7+ KB
None

Calculate and print basic statistical metrics:

In [15]:
stats = df.describe()

In [16]:
print("Descriptive Statistics\n")

Descriptive Statistics

In [17]:
print(stats)

         student_id      score    grad_year
count  5.000000e+01  50.000000    50.000000
mean   4.583073e+08  43.999400  2026.800000
std    2.452963e+08  27.818085     1.456863
min    1.463494e+07   0.330000  2025.000000
25%    3.084228e+08  22.410000  2026.000000
50%    4.899046e+08  46.990000  2027.000000
75%    6.313480e+08  64.207500  2028.000000
max    9.580741e+08  94.040000  2029.000000

Count the number of unique majors in the data:

In [18]:
unique_majors = df['major'].nunique()

In [19]:
print(f"\nThe number of unique majors: {unique_majors}")

The number of unique majors: 10

Define a function to convert scores to grades:

In [20]:
def convert_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

Apply the function to all score data and output results as new column:

In [21]:
df['grade'] = df['score'].apply(convert_grade)

Export results as a CSV:

In [22]:
file_name = 'Lab1_sample_data.csv'

In [23]:
df.to_csv(file_name, index=False)